/**
 Sample styles for Theme Editor DX Project
 */
#outlet {
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wizardPanel {
  display: flex;
  align-items: stretch;
  height: auto;
  background: white;
  border: 1px solid grey;
}
