.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
 
.navigationIcon {
    margin: 0 0 0 15px;
}

.margin-left-bar {
    margin: 0 0 0 1%;
}
 
.container {
    padding: 10px;
}