/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: Make all Vaadin buttons larger than normal using Lumo variables. */
vaadin-button {
    font-size: var(--lumo-font-size-xxl);
    height: var(--lumo-size-xxl);
}

/* Example: Apply a Lumo "success" colors color to buttons using CSS class name. */
.my-style {
  background-color: var(--lumo-success-color-10pct);
  color: var(--lumo-success-text-color);
}

